<form >
  <div class="row">
    <div class="col-sm-8">
      <mat-form-field>
        <input matInput placeholder="Code">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput placeholder="Origin">
      </mat-form-field>
    </div>
  </div>
  <div class="row">git 
    <div class="col-sm-4">
      <mat-form-field>
        <input matInput placeholder="Destination">
      </mat-form-field>
    </div>
  </div>
</form>